@{
    ViewBag.Title = "rolexistente";
}

<script type="text/javascript">
    window.alert("El Rol ya Existe");

</script>
<h1 class="letraD" style="font-size:35px;"> Debe crear un rol nuevo <a href="/Roles/Create" class="tooltip circle" title="Crear nuevo Rol">
        <img src="~/Images/img/folder_new.png"/>
    </a></h1>

